[package]
name = "godot-bevy"
description = "Bridge between Bevy ECS and Godot 4 for Rust-powered game development"
version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
license.workspace = true

[dependencies]
bevy = { version = "0.16", default-features = false, features = [
    "bevy_asset",
    "bevy_state",
    "bevy_log",
] }
godot = "0.2.4"
godot-bevy-macros.workspace = true
lazy_static = "1.5.0"
